body { background-color: #fff0f5; font-family: 'Segoe UI', sans-serif; margin: 0; padding: 0; text-align: center; }
nav { background-color: #ffb6c1; padding: 15px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }
nav a { color: white; text-decoration: none; font-weight: bold; margin: 0 15px; }
h1 { color: #d81b60; }
.contenedor-busqueda { margin: 20px; }
input { padding: 10px; border-radius: 20px; border: 1px solid #ffb6c1; outline: none; }
button { background: #d81b60; color: white; border: none; padding: 10px 20px; border-radius: 20px; cursor: pointer; }
.formulario-admin { background: white; width: 80%; margin: 20px auto; padding: 20px; border-radius: 15px; border: 2px dashed #ffb6c1; }
table { width: 90%; margin: 20px auto; border-collapse: collapse; background: white; border-radius: 15px; overflow: hidden; box-shadow: 0 5px 15px rgba(0,0,0,0.05); }
th { background-color: #ffb6c1; color: white; padding: 15px; }
td { padding: 15px; border-bottom: 1px solid #fff0f5; }
.tag-categoria { background: #fff0f5; padding: 4px 10px; border-radius: 10px; font-size: 0.9em; color: #ad1457; }
.btn-eliminar { color: #ff4d4d; text-decoration: none; font-weight: bold; font-size: 0.8em; border: 1px solid #ff4d4d; padding: 5px; border-radius: 5px; }